@{
    ViewData["Title"] = "Chats";
}

<html>

<body>
    <div class="grid grid-cols-auto content-center *:text-center">
    <div class="border-2 rounded-xl">
    TEST TEXT!
    </div>
    <div class="border-2 rounded-xl">
    TEST TEXT!
    </div>
    <div class="border-2 rounded-xl">
    TEST TEXT!
    </div>
    </div
</body>

</html>
