<body class="grid bg-gray-800">
<p class="text-white place-self-center mt-10 ">User not found.</p>
<a class="text-blue-200 place-self-center hover:opacity-80" href="javascript:history.go(-1)" class="">Return to the previous page.</a>
</body>
