@{
    ViewData["Title"] = "Chats";
}

<html>

<body>
    <div class="flex sm:flex-col sm:items-center *:text-center *:px-3">
    <div class="border-2 rounded-xl">
    TEST TEXT!
    </div>
    <div class="border-2 rounded-xl">
    TEST TEXT!
    </div>
    <div class="border-2 rounded-xl">
    TEST TEXT!
    </div>
    </div
</body>

</html>
